

<app-list [dataSource]="service.dataSource | async">
  <div app-list-buttons>
    <button (click)="service.add()">Add</button>
  </div>
  <div *appListItem="let item type 'success' className as klass" [class]="klass">
    <div>Success</div>
    <div>{{item.title}}</div>
  </div>

  <div *appListItem="let item type 'error' className as klass" [class]="klass">
    <div>Error!!! {{item.content}}</div>
  </div>

  <div *appListItem="let item type 'info' className as klass" [class]="klass">
    <div>Information</div>
    <div>{{item.title}}</div>
    <div>{{item.content}}</div>
  </div>

</app-list>
