.item, [app-list-buttons] {
    padding: 4px;
    margin: 4px;
  }

  .item {
    border: 2px solid grey;
    border-radius: 4px;
  }
  
  .item-info {
    border-color: rgb(119, 119, 221);
  }
  
  .item-success {
    border-color: rgb(67, 172, 67);
  }
  
  .item-error {
    border-color: rgb(197, 68, 68);
  }
  
  button {
    margin-top: 16px;
    background: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }