:host {
    display: block;
    position: relative;
    margin: 32px 16px;
    @media screen and (min-width: 960px) {
        width: 800px;
        margin: 32px auto 0 auto;
    }
    
    min-height: 40vh;
    padding: 16px;
    border-radius: 16px;
    background-color: white;
}