.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 16px;
}

.link_active {
  color: #b1d1f1;
  font-weight: bold;
}