.popup {
    &__shell {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(36, 19, 31, 0.8);
    }
    &__window {
        position: relative;
        width: 400px;
        height: 300px;
        border-radius: 8px;
        border: 1px solid rgb(207, 207, 207);
        padding: 8px;
        background-color: white;
    }
    &__close {
        padding: 8px 16px;
        margin: 8px 16px;
        background: white;
    }
}