<ng-template #popup>
    <div  class="popup">
        <div class="popup__shell">
            <div class="popup__window">
                <button class="popup__close" (click)="close()">Закрыть</button>
                <div class="popup__content">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</ng-template>


