<div class="list">
    <ng-content select="[app-list-buttons]"></ng-content>
    <ng-container *ngFor="let item of context">
        <ng-container *ngTemplateOutlet="item.template; context: item.context"></ng-container>
    </ng-container>
</div>